{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>{{ project_item.name }}</h1>
            <p>{{ project_item.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
                {% if project_item.tasks.all|length > 0 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for i in project_item.tasks.all %}
                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.assignee }}</td>
                            <td>{{ i.start_date }}</td>
                            <td>{{ i.due_date }}</td>
                            <td>{{ i.is_completed|yesno:"yes,no" }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>
                    This project has no tasks
                </p>
                {% endif %}

        </div>
    </main>
{% endblock content %}
